
.title{
	font-size: 53px;
text-align: center;
margin-top: 20px;
}

.loading {
    position:absolute;
    height:100%;
    top:0;left:0;bottom:0;right:0;
}
.loading:before {
    position:absolute;
    content:"";
    left:0;
    bottom:0;
    right:0;
    top:0;
    z-index:1000;
    background:rgba(255,255,255,0.95) no-repeat center center;
    background-image: url('loading-animation.gif');
    background-size: 50px;
}

.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter {
    transition:0.6s linear all;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1;}

